[submodule "externals/googletest"]
	path = externals/googletest
	url = https://github.com/google/googletest.git
[submodule "externals/volk"]
	path = externals/volk
	url = https://github.com/zeux/volk.git
[submodule "externals/expected"]
	path = externals/expected
	url = https://github.com/TartanLlama/expected.git
